 .accout__details {
     padding: 5px;

 }

 .logout__buttn {
     font-weight: 500;
     font-size: larger;
     padding: 5px;
     cursor: pointer;
 }

 .account__heading {
     margin-top: 50px;

 }