.order_box {
    margin-inline: auto;
    max-width: 800px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.order_box_buttons {
    padding-left: 10px;
    padding-top: 50px;
    align-items: baseline;
    max-width: 500px;
}

.footerbuynow {
    display: block;
    text-decoration: none;
    padding-block: 5px;
    padding-inline: 50px;
    border: 3px solid #171a20;
    border-radius: 4px;
    font-weight: 600;
}

.footercustomorder {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #eeeeee;
    color: #393c41;
    font-weight: 600;
    padding-block: 5px;
    border-radius: 4px;
}